@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: royalblue;
  background-image: radial-gradient(rgba(255 , 255 , 255 ,0.25), #004e89 99%);
  min-height: 100vh;
  /* width: 100vw; */
}
/*Navbar Styles*/
.nav-para{
  font-family: "Poppins";
  font-weight: 500;
  transition-duration: 400ms;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
  transition-property: all;

}
.nav-para:hover{
  background-color: rgba(0,0,0,0.25);
}
/*Location Page*/
.location-color{
  background-color: light;
  background-image: linear-gradient(45deg , #7fefbd 20% , teal);
}
.location-para{
    font-family: "Nunito";
}
.location-text{
  font-family: "Poppins";
}
.location-btn{
  background-image: linear-gradient(45deg  ,royalblue, darkred , darkgoldenrod);
  background-size: 300%;
  background-position: left;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  font-family: "Poppins";
  font-weight: 600;
  border-radius:1rem;
  color: aliceblue;
  transition-property: all;
  transition-duration: 400ms;
}
.location-btn:hover{
  animation-name: btn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
}
@keyframes btn {
  0%{background-position: left;}
  50%{background-position: right;}
  100%{background-position: left;}
  
}
/*Location weather */
.place-text{
  font-family: "Nunito";
}
.specification-background{
  background-color: rgba(255,255,255,0.30);
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 1rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specification-text{
  margin-top:0.5rem;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.specification-image{
  width: 3rem;
}
/*Loader CSS*/
.spinner {
  width: 72px;
  height: 72px;
  display: grid;
  border: 5.8px solid #0000;
  border-radius: 50%;
  border-color: #008080 #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.9px;
  border: inherit;
  border-radius: 50%;
}
.spinner::before {
  border-color: #dc143c #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 11.6px;
}

@keyframes spinner-e04l1k {
  100% {
     transform: rotate(1turn);
  }
}
